@model Bike

<fieldset class="border d-inline-block p-3 shadow">
    <legend> Delete Bike </legend>

    <table>
        <tbody>
            <tr>
                <th class="pr-1 text-right"> Year: </th>
                <td class="pl-1"> @Model.Year </td>
            </tr>

            <tr>
                <th class="pr-1 text-right"> Make: </th>
                <td class="pl-1"> @Model.Make </td>
            </tr>

            <tr>
                <th class="pr-1 text-right"> Model: </th>
                <td class="pl-1"> @Model.Model </td>
            </tr>

            <tr>
                <th class="pr-1 text-right"> Color: </th>
                <td class="pl-1"> @Model.Color </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>

            <tr>
                <td class="text-center" colspan="2">
                    <span class="text-center text-danger pl-2 pr-2"> Are you sure? </span>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>

            <tr>
                <td class="text-center" colspan="2">
                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete Bike" class="btn btn-sm btn-danger mr-1" />
                        <a asp-controller="Bike" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-light ml-1"> Cancel </a>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>