@model MX

<fieldset class="border d-inline-block mb-3 mr-4 p-3 pt-0 shadow align-top">
    <legend> Maintenance Details </legend>

    <table>
        <tbody>
            <tr>
                <th class="pr-1 text-right"> Date: </th>
                <td class="pl-1"> @Model.Date.ToString("MM-dd-yyy") </td>
            </tr>

            <tr>
                <th class="pr-1 text-right"> Maintenance Completed: </th>
                <td class="pl-1"> @Model.Action </td>
            </tr>

            <tr>
                <th class="pr-1 text-right"> Mileage: </th>
                <td class="pl-1"> @Model.Mileage.ToString("N2") </td>
            </tr>

            <tr>
                <th class="pr-1 text-right"> Cost: </th>
                <td class="pl-1"> @Model.Cost.ToString("N2") </td>
            </tr>
            <tr>
                <th class="pr-1 text-right"> Bike: </th>
                <td class="pl-1">
                    @Model.Bike.Year
                    @Model.Bike.Make
                    @Model.Bike.Model
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>

            <tr>
                <td class="text-center" colspan="2">
                    <a asp-controller="MX" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary mr-1"> Edit </a>
                    <a asp-controller="MX" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger ml-1 mr-1"> Delete </a>
                    <a asp-controller="Bike" asp-action="Details" asp-route-id="@Model.BikeId"class="btn btn-sm btn-light ml-1"> Back </a>
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>